.article {
  flex-wrap: wrap;
  justify-content: center;
  .docs-nav {
    margin-left: 20px;
    width: 100%;
    margin-bottom: 2em;
    nav {
      position: relative;
      top: 0px;
      .nav-item {
        width: 100%;
      }
    }
  }
}
