.article {
  flex-wrap: wrap;
  justify-content: center;
  .docs-nav {
    margin-right: 20px;
    margin-left: 20px;
    width: 100%;
    margin-bottom: 1em;
    nav {
      position: relative;
      top: 0px;
      .nav-item {
        width: 100%;
      }
    }
  }

  .doc-page-content {
    .image-header {
      display: none;
    }
  }

  img {
    width: 100%;
    max-width: 100%;
  }
}
