.landing-advantages-content {
  width: 90%;
}
.landing-about .landing-about-content {
  width: 90%;
  grid-template-columns: 100%;
    grid-row-gap: 2em;
    .landing-about-pic img {
      width: 100%;
      height: auto;
    }
}
.landing-advantages .landing-advantages-content {
  width: 90%;
}
.landing-main .landing-main-content {
  width: 90%;
}
