.button {
  align-items: center;
  transition: 0.2s background-color;

  .icon {
    margin-right: 0.5em;
    position: relative;
    top: 0.5px;
  }
}

.button:hover {
  cursor: pointer;
  transition: 0.2s background-color;
}

.button.button-primary {
  @extend .bg-blue;
  @extend .border;
  border-color: transparent !important;
  &:hover, &:focus {
    @extend .bg-blue-dark;
  }
  @extend .text-white;
  @extend .font-bold;
  @extend .py-2;
  @extend .px-4;
  @extend .rounded;
}

.button.button-big {
  @extend .py-4;
  @extend .px-8;
  border-radius: 5px;
}

.button.button-secondary {
  @extend .bg-transparent;
  @extend .text-blue;
  @extend .font-bold;
  &:hover, &:focus {
    @extend .text-white;
    @extend .bg-blue;
  }
  @extend .border;
  @extend .border-blue;
}

button:focus {
  outline: 0;
}

