.dashboard-page-container {
  padding-top: 0;
  .dashboard-page {
    margin-top: 0;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.dashboard-nav-container {
  width: 100%;
  margin-bottom: .5em;
  margin-right: 0 !important;
}

.console-card {
  width: 98%;
  .console-card-content {
    padding: .7rem;
    .console-card-id {
      padding-top: .5em;
      padding-bottom: 0.5em;
    }
    .console-card-status {
      padding-top: 0.5em;
    }
    .console-card-right {
      padding-top: 2rem;
      padding-left: 0;
    }
  }
}

.game-store {
  .game-store-top {
    justify-content: center;
    .game-store-import {
      margin-left: 0;
      margin-bottom: .5em;
      width: 100%;
      text-align: center;
    }
    .game-store-search {
      width: 100%;
    }
  }
}

.game-store-mosaic {  
  margin-top: 1em;
  .game-card {
    width: 100%;
  }
}

.game-card {
  .game-card-image {
    background-size: cover;
  }
  .game-card-content {
    margin-bottom: 0;
  }
}


.shop-orders-mosaic {
  .shop-order-card {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .shop-order-card-content {
      padding-top: 2em;
      padding-left: 0;
      .shop-order-card-actions {
        margin-top: 1em;
        flex-direction: row;
        width: 100%;
        justify-content: center;

        .shop-order-card-button {
          &.shop-order-card-list {
            margin-bottom: 0;
            margin-left: 0;
          }
          &.shop-order-card-bill {
            padding-top: .5rem;
            padding-bottom: .5rem;
            padding-left: 1rem;
            padding-right: 1rem;
          }
        }
      }
    }
  }
}