.navigation-container {
  .navigation {
    margin-right: 0;
    margin-left: 20px;
    width: 100%;
    margin-bottom: 1em;
    position: relative;
    top: 0px;
    .nav-item {
      width: 100% !important;
    }
  }
}
