.shop-index-category-mosaic .shop-index-category .shop-index-category-items
 {
   justify-content: center;

   .shop-card {
     margin-right: 0;
   }


 }

 .shop-cart-container {
   .shop-cart-list {
     .list-row, .list-head {
        grid-template-columns: 30% 28% 20% 1fr;
        div {

          flex-direction: column;
        }
     }
     .shop-cart-actions {
       flex-direction: column;
       flex-wrap: wrap;
       justify-content: center !important;
       a {
         margin-right: 0 !important;
         margin-bottom: 0.5em;
       }
     }
   }
 }
