.alert-modal {
  .alert-container {
    height: 86%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    .alert-content {
      .alert-title {
        margin-bottom: 1em;
      }
      .icon {
        font-size: 2em;
        margin-bottom: 0.8em;
      }
    }

  }
  .button {
    text-align: center;
  }
}
