.buy {
  .buy-nav {
    margin-top: -1.6em;
    margin-bottom: 1em;

    a {
      transition: 0.2s color;
    }
    a:hover {
      transition: 0.2s color;
    }
  }
  .buy-content {
    padding-left: 10px;
    padding-right: 10px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-column-gap: 0.5em;
    // .buy-title {
    //   margin-bottom: 1em;
    //   font-size: 1.6em;
    //   font-weight: lighter;
    // }
    .buy-description-container {
      margin-top: 0.6em;
      font-weight: 500;
      font-size: 1em;
      .buy-description {
        width: 90%;
        margin-bottom: 1.2em;
        line-height: 1.5em;
        ul {
          margin-top: 1em;
          margin-bottom: 2em;
        }
      }

      .buy-price {
        font-size: 2.3em;
        font-weight: 100;
        margin-bottom: 0.7em;
        opacity: 0.8;
      }

      .buy-actions {
        .action-buy {
          padding: 10px 15px 10px 15px;
          font-size: 1.3em;
          font-weight: 400;
          i {
            margin-right: 1em;
          }
        }
      }

      .buy-ways-container {
        margin-top: 1.4em;
        .hint {
          opacity: 0.8;
          margin-bottom: 0.2em;
        }
        .buy-ways-mosaic {
          display: flex;
          font-size: 1.5em;
          color: #34495e;
          margin-left: 1em;
          padding-top: 0.75em;

          .buy-way {
            margin-right: 0.4em;
            opacity: 0.9;
            display: inherit;
            font-size: 1.5em;

            .buy-way-title {
              padding-left: 1em;
              font-size: 0.25rem;
              font-weight: 500;
            }
          }
        }
      }
    }
    .buy-images-container {
      .buy-images-mosaic {

        display: grid;
        grid-template-columns: 33% 33% 33%;

        .buy-image-item {
          img {
            width: 100%;
          }
        }
      }
    }
  }
}
//on shop buy page an modal to see bigger the images
.show-image-modal {
    .modal-container {
      height: 86%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      text-align: center;

      .show-image-container {
        height: 100%;
        img {
          height: 100%;
          display: flex;
          justify-content: center;
        }
      }
    }
    .button {
      text-align: center;
    }
}
