/**
Landing main
**/
$landing-main-section-height: 70vh;
$landing-main-section-opacity: 0.8;

.landing-main {
  margin-top: -$landing-main-section-height;
  background-color: rgba(52, 73, 94, $landing-main-section-opacity);
  display: flex;
  width: 100%;
  height: $landing-main-section-height;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 1px 8px #000000;

  .landing-main-content {
    position: relative;
    top: -1em;
    color: white;
    text-align: center;
    .landing-main-title {
      font-weight: lighter;
      font-size: 3em;
    }
    .landing-main-subtitle {
      margin-top: 1em;
      margin-bottom: 2em;
      font-size: 1.3em;
    }
  }
  .landing-main-actions {
    a {
      margin-right: 10px;
      text-decoration: none;
    }
  }
}

.landing-main-back {
  background-size: cover;
  height: $landing-main-section-height;
  background-image: url(https://i.imgur.com/sb5ORZw.jpg)
}

.landing-section {
  margin-top: 2em;
  border-top: 1px solid rgba(189, 195, 199, 1.0);
  width: 100%;
}

/**
Landing about
**/
.landing-about {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 1px 8px #000000;
  background-image: linear-gradient(to right bottom, #82ccdd, #60a6bf, #4181a0, #255e81, #0a3d62);
  .landing-about-content {
    color: #ecf0f1;
    margin-top: 6em;
    margin-bottom: 6em;
    width: 60%;
    display: grid;
    grid-template-columns: 58% 1fr;
    grid-column-gap: 3em;
    .landing-about-text {
      line-height: 1.5em;
      .landing-about-title {
        margin-bottom: 1em;
      }
    }

    .landing-about-pic {
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        width: 60%;
      }
    }
  }
}

/**
Landing columns
*/
.landing-columns {
  text-align: center;
  margin-top: 2em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .landing-column {

    .landing-column-icon {
      padding-right: 20px;
      background-color: transparent;
      position: relative;
      top: 10px;
      display: flex;
      justify-content: center;

      div {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        padding: 10px 10px 10px 10px;
      }
      .type-game {
        background-color: #ff4c4c;
      }
      .type-easy {
        background-color: #ffff4c;
      }
      .type-connected {
        background-color: #4dff4c;
      }
      .type-switch {
        background-color: #4cffff;
      }
      i {
        color: white;
        font-size: 1.5em;
        filter: drop-shadow(0px 0px 3px rgba(0,0,0,.5));
      }
    }
    .landing-column-content {
      margin-bottom: 20px;
      margin-right: 20px;
      max-width: 23rem;
      background-color: white;
      padding-top: 5px;
      .title {
        color: #22292F;
      }
    }
  }
}

/**
Landing advantages
**/
.landing-advantages {
  display: flex;
  justify-content: center;
  box-shadow: 1px 1px 8px #000000;
  align-items: center;
  background-image: linear-gradient(to right bottom, #6a89cc, #536eb0, #3d5495, #263b7b, #0c2461);
  .landing-advantages-content {
    text-align: center;
    color: #ecf0f1;
    margin-top: 6em;
    margin-bottom: 6em;
    width: 60%;
  }
}

/**
Landing video
**/
.landing-video-content {
  width: 100%;
  display: flex;
  justify-content: center;
}

.landing-video-video {
  width: 100%;
  height: 25em;
  margin-top: 20px;
}

/**
landing start **/
.landing-startnow-content {
  margin-top: 2em;
  .type-kited .landing-column-icon div {
    background-color: #4d4cff;
  }

  .type-already .landing-column-icon div {
    background-color: #ff4cff;
  }

  .landing-column-footer {
    margin-top: -1em;
    width: 90%;
    padding-right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    a {
      text-decoration: none;
    }
  }
}

.landing-startnow-title {
  color: #2c3e50;
  text-align: center;
}

.landing-bottom {
  margin-bottom: 2em;
  box-shadow: 1px 1px 12px #000000;
}
