/**
Landing main
**/
$landing-main-section-height: 70vh;
$landing-main-section-opacity: 0.8;


.landing-main {
  margin-top: -$landing-main-section-height;
  background-color: #1e2426;
  display: flex;
  width: 100%;
  height: $landing-main-section-height;
  justify-content: center;
  align-items: center;

  .landing-main-content {
    position: relative;
    top: -1em;
    color: white;
    text-align: center;
    .landing-main-title {
      font-weight: lighter;
      font-size: 3em;
      text-shadow: 1px 1px 3px black;
    }
    .landing-main-subtitle {
      margin-top: 1em;
      margin-bottom: 2em;
      font-size: 1.3em;
      text-shadow: 1px 1px 3px black;
    }
  }
  .landing-main-actions {
    .landing-main-button-go {
      @extend .bg-transparent;
      &:hover {
        @extend .bg-blue;
      }
      @extend .text-white;
      @extend .font-semibold;
      &:hover {
        @extend .text-white;
      }
      @extend .py-4;
      @extend .px-8;
      @extend .border;
      @extend .border-white;
      &:hover {
        @extend .border-transparent;
      }
      @extend .rounded-full;
      @extend .text-lg;
    }
    .landing-main-button-shop {
      @extend .bg-blue;
      &:hover {
        @extend .bg-blue-dark;
      }
      @extend .text-white;
      @extend .font-bold;
      @extend .py-4;
      @extend .px-8;
      @extend .rounded-full;
      @extend .button;
      @extend .text-lg;
    }
    margin-top: 4em;
    a {
      margin-right: 15px;
      text-decoration: none;
    }
  }
}
.landing-main-back {
  background-size: cover;
  height: $landing-main-section-height;
  background-image: url(https://i.imgur.com/sb5ORZw.jpg);
  clip-path: polygon(100% 0%, 0% 0%, 0% 99%, 100% 92%);
}


.landing-startnow  {
  margin-top: 2em;
  border-top: 1px solid #bdc3c7;
  width: 100%;
}

/**
Landing about
**/
.landing-about {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1e2426;


  .landing-about-content {
    color: #ecf0f1;
    margin-top: 6em;
    margin-bottom: 6em;
    width: 60%;
    display: grid;
    grid-template-columns: 58% 1fr;
    grid-column-gap: 3em;

    .landing-about-text {
      line-height: 1.5em;

      .landing-about-title {
        margin-bottom: 1em;
      }
    }

    .landing-about-pic {
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        width: 100%;
      }
    }
  }
}
.landing-about3 {
  background-size: cover;
  height: 400px;
  background-image: url(https://i.imgur.com/sb5ORZw.jpg);
  clip-path: polygon(0% 90%, 100% 100%, 100% 10%, 0% 0%);
}

.landing-about2 {
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, rgba(147,39,143,1) 0%, rgba(0,169,157,1) 95%);
  clip-path: polygon(0% 90%, 100% 100%, 100% 10%, 0% 0%);
  .landing-about-content2 {


    color: #ecf0f1;
    margin-top: 6em;
    margin-bottom: 6em;
    width: 60%;
    display: grid;
    grid-template-columns: 58% 1fr;
    grid-column-gap: 3em;
    .landing-about-text {
      line-height: 1.5em;
      .landing-about-title {
        margin-bottom: 1em;
      }
    }

    .landing-about-pic {
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        width: 100%;
      }
    }
  }
}

/**
Landing columns
*/
.landing-columns {
  text-align: center;
  margin-top: 2em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .landing-column {

    .landing-column-icon {
      padding-right: 20px;
      background-color: transparent;
      position: relative;
      top: 10px;
      display: flex;
      justify-content: center;

      div {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        padding: 10px 10px 10px 10px;
      }

    .type-game {
      background-color: #ff4c4c;
    }
    .type-custom {
      background-color: #ffff4c;
    }
    .type-connected {
      background-color: #4dff4c;
    }
    .type-switch {
      background-color: #4cffff;
    }
    .type-easy {
      background-color: #4d4cff;
    }
    .type-opensource {
      background-color: #ff4cff;
    }
      i {
        color: white;
        font-size: 1.5em;
        filter: drop-shadow(0px 0px 3px rgba(0,0,0,.5));
      }
    }
    .landing-column-content {
      margin-bottom: 20px;
      margin-right: 20px;
      max-width: 23rem;
      background-color: white;
      padding-top: 5px;
      .title {
        color: #22292F;
      }
    }
  }
}

/**
Landing advantages
**/
.landing-test {
  background-color: #1e2426;
}

.landing-advantages {
  display: flex;
  justify-content: center;
  align-items: center;
  clip-path: polygon(100% 1%, 0% 8%, 0% 100%, 100% 100%);
  .landing-advantages-content {
    text-align: center;
    color: #ecf0f1;
    margin-top: 6em;
    margin-bottom: 6em;
    width: 60%;
  }
}

/**
Landing video
**/
.landing-video-content {
  width: 100%;
  display: flex;
  justify-content: center;
}

.landing-video-video {
  width: 100%;
  height: 25em;
  margin-top: 20px;
}

/**
landing start **/
.landing-startnow-content {
  margin-top: 2em;
  .type-kited .landing-column-icon div {
    background-color: #4d4cff;
  }

  .type-already .landing-column-icon div {
    background-color: #ff4cff;
  }

  .landing-column-footer {
    margin-top: -1em;
    width: 90%;
    padding-right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    a {
      text-decoration: none;
    }
  }
}

.landing-startnow-title {
  color: #ffffff;
  text-align: center;
}

.landing-bottom {
  margin-bottom: 2em;
  box-shadow: 1px 1px 12px #000000;
}
