$opacity: 0.9;
.newsletter-container {
  width: 100%;
  background-image: radial-gradient(
    circle,
    rgba(56, 173, 169, $opacity),
    rgba(47, 168, 163, $opacity),
    rgba(37, 163, 157, $opacity),
    rgba(25, 158, 152, $opacity),
    rgba(7, 153, 146, $opacity)
  );
  margin-top: 1em;
  .newsletter-content {
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 4em;
    padding-bottom: 4em;
    padding-left: 1em;

    .newsletter-title-container {
      color: #FFF;
      margin-bottom: 1.8em;
      .newsletter-title {
        margin-bottom: 0.7em;
      }
    }
    .newsletter-form {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      .newsletter-form-input {
        margin-right: 1.1em;
      }
      .newsletter-form-button button {
        height: 39px;
      }
    }
  }
}
