.partnership-container {
  .partnership-content {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-column-gap: 20px;
    text-align: center;

    .partnership-item {
      color: #7f8c8d;
      transition: 0.2s opacity;
      display: flex;
      align-items: center;

      .partnership-image {
        margin-right: 1.5em;
      }
    }

    .partnership-dyjixeu {
      .partnership-dyjixeu-image {
        img {
          width: 10em;
        }
      }
    }

    .partnership-lyceealain {
      .partnership-lyceealain-image {
        img {
          width: 5em;
        }
      }
    }

    .partnership-cci {
      .partnership-cci-image {
        img {
          width: 5em;
        }
      }
    }

    .partnership-creative-commons {}

    .partnership-item:hover {
      opacity: 0.8;
      transition: 0.2s opacity;
    }
  }
}
