.partnership-container {
  .partnership-content {
    display: flex;
    justify-content: space-between;
    .partnership-dyjixeu {
      .partnership-dyjixeu-image {
        img {
          width: 10em;
        }
      }
    }
  }
}