.partnership-container {
  .partnership-content {
    display: grid;
    grid-template-columns: 40% 60%;
    .partnership-dyjixeu {

      .partnership-dyjixeu-image {
        img {
          width: 10em;
          margin-top: 15px;
        }
      }
    }
    .partnership-creative-commons {
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      .partnership-creative-commons-image {
        margin-right: 1.5em;
        img {
          margin-top: 0;
        }
      }
    }
    a {
      color: #7f8c8d;
      transition: 0.2s opacity;
    }
    a:hover {
      opacity: 0.8;
      transition: 0.2s opacity;
    }
  }
}