.account-card {
  @extend .bg-white;
  @extend .shadow-md;
  @extend .rounded;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 2em;
  .account-card-avatar {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    img {
      width: 150px;
      border-radius: 50%;
    }
  }
  .account-card-details {
    margin-top: 2em;
    display: flex;
    justify-content: center;
    flex-direction: column;
    .account-card-username {
      font-size: 1.3em;
      margin-bottom: 0.5em;
    }
    .account-card-email {
      opacity: 0.8;
    }
  }
}

.account-actions {
  display: flex;
  flex-direction: column;
  .account-action {
    color: #2980b9;
    &.action-disabled {
      opacity: 0.5;
      &:hover {
        opacity: 0.5;
      }
    }
    padding-top: 1em;
    padding-bottom: 1em;
    border-top: 1px solid #bdc3c7;
    display: flex;
    align-items: center;
    padding-left: 10px;
    .icon {
      margin-right: 1em;
    }
    &:last-of-type {
      border-bottom: 1px solid #bdc3c7;
    }
    transition: opacity .2s;
    cursor: pointer;
    &:hover, &:focus {
      text-decoration: none;
      opacity: 0.8;
      transition: opacity .2s;
      font-weight: 600;
    }
  }
}

/*
@media (max-width: $md-breakpoint) {
  .account-card {
    margin-right: 0;
  }
}*/

