html {
  //scroll-behavior: smooth;
}
body,
* {
  font-family: "Montserrat", sans-serif;
}
body {
  margin-bottom: -20px;
  background-color: white;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

.content-container {
  //padding-bottom: 10px;
  box-shadow: -3px -20px 20px 0px rgba(0, 0, 0, .30);
}

.content-container-bottom {
  display: none;
  background-color: white;
  z-index: 9999;
  width: 100%;
  height: 20px;
}
