.cover-title {
  padding-top: 3em;
  padding-bottom: 1em;
  border-bottom: 1px solid rgba(189, 195, 199, 1.0);

  .cover-title-content {
    color: #525252;
    h1 {
      font-weight: 100;
    }
    font-size: 1.5em;
  }
}

.shop-cover-title {

  .cover-title-content {
    display: flex;
    justify-content: space-between;
    .shop-cover-preview {
      font-size: .65em;
      text-transform: uppercase;
      font-weight: bold;
      display: flex;
      align-items: flex-end;
      .preview-badge {
        border-radius: 5px;
        background: rgb(131,58,180);
        background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
        color: white;
        padding: .5em 1em;
      }
    }
  }
}