.dashboard-page-container {
  @extend .mx-auto; @extend .container;
  @extend .pt-4;
  padding-bottom: 2em;
  .dashboard-page {
    width: 100%;
    display: flex;
    margin-top: 2em;
  }
  .dashboard-page-content {
    width: 100%;
  }
}
.dashboard-nav-container {
  margin-right: 2.5em;
}

.dashboard-page-title {
  font-weight: 400;
  margin-bottom: 1em;
  width: 100%;
  border-bottom: 1px solid rgba(128, 128, 128, .4);
  padding-bottom: .3em;
}

.console-mosaic {
  width: 100%;
}
.console-card {
  margin: 0 auto;
  width: 80%;
  .console-card-content {
    @extend .rounded;
    @extend .shadow-lg;
    padding: 2rem;
    width: 100%;
    @extend .flex;
    @extend .flex-wrap;
    .console-card-left {
      @extend .w-full;
      @extend .md\:w-1\/3;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      .console-card-id {
        padding-bottom: 1.5em;
        .console-card-id-pre {
          font-style: italic;
          opacity: 0.5;
        }
      }
      .console-card-image {
        width: 6em;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
      }
      .console-card-status {
        padding-top: 1.5em;
        display: flex;
        .status {
          width: 1em;
          height: 1em;
          border-radius: 50%;
          margin-right: 1em;
          border: 1px solid rgba(128, 128, 128, .4);
          &.green {
            background-color: #27ae60;
          }
          &.red {
            background-color: #e74c3c;
          }
        }
      }
    }
    .console-card-right {
      @extend .w-full;
      @extend .md\:w-2\/3;
      padding-left: 2em;
      .console-card-fields {
        &:first-child {
          border-top: 1px solid rgba(128, 128, 128, .4);
        }
        .console-card-field {
          display: flex;
          justify-content: space-between;
          padding-top: .6em;
          padding-bottom: .6em;
          border-bottom: 1px solid rgba(128, 128, 128, .4);
          .console-card-field-name {
            display: flex;
            .console-card-field-icon {
              color: #2c3e50;
              font-size: 1.2em;
              opacity: 0.8;
              margin-right: 0.5em;
              width: 2em;
              display: flex;
              justify-content: center;
            }
          }
          .console-card-field-value {
            .data {
              font-weight: 600;
            }
            .data-afer {
              opacity: 0.8;
            }
          }
        }
        .storage .console-card-field-icon {
          color: #34495e;
        }
      }
      .console-card-actions {
        margin-top: 2em;
        display:flex;
        justify-content: space-between;
        .console-card-action {
          @extend .border;
          @extend .rounded;
          @extend .py-2;
          @extend .px-4;
          &.shutdown {
            @extend .text-red;
            @extend .border-red;
            @extend .hover\:bg-red-dark;
            @extend .bg-transparent;
          }
          &.add {
            @extend .text-white;
            @extend .border-blue;
            @extend .bg-blue;
            @extend .hover\:bg-transparent;
            @extend .hover\:text-blue;
          }
          .icon {
            margin-right: 0.5em;
          }
        }
      }
    }
  }
}

.game-store {
  .game-store-top {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    .game-store-import {
      @extend .border;
      @extend .rounded;
      @extend .py-2;
      @extend .px-4;
      @extend .text-green;
      @extend .border-green;
      @extend .bg-transparent;
      @extend .hover\:bg-green;
      @extend .hover\:text-white;
      @extend .ml-2;
      transition: all 0.2s;
      &:hover {
        transition: all 0.2s;
      }
      .icon {
        margin-right: .5em;
      }
    }
    .game-store-search {
      display: flex;
      align-items: center;
      .game-store-search-input {
        //  shadow appearance-none border border-red-500 rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline
        @extend .shadow;
        @extend .appearance-none;
        @extend .border;
        @extend .rounded;
        @extend .w-full;
        @extend .py-2;
        @extend .px-3;
        @extend .leading-tight;
      }
      .game-store-search-button {
        @extend .border;
        @extend .rounded;
        @extend .py-2;
        @extend .px-4;
        @extend .text-white;
        @extend .border-blue;
        @extend .bg-blue;
        @extend .hover\:bg-transparent;
        @extend .hover\:text-blue;
        @extend .ml-2;
        transition: all 0.2s;
        &:hover {
          transition: all 0.2s;
        }
      }
    }
  }
  .game-store-items {
    margin-top: 2em;
    .game-store-category-title{
      font-weight: 700;
      color: #525252;
      font-size: 1.5em;
      margin-bottom: 1em;
    }
  }
}


.game-store-mosaic {  
  margin-top: .5em;
  .game-card {
    margin: 0 auto;
    width: 80%;
  }
}
.game-card {
  margin-bottom: .5em;
  @extend .max-w-sm;
  @extend .w-full;
  @extend .lg\:max-w-full;
  @extend .lg\:flex;
  @extend .shadow;
  .game-card-image {
    background-position: center;
    background-size: contain;
    @extend .h-48;
    @extend .md\:w-1\/2;
    @extend .lg\:h-auto;
    @extend .lg\:w-48;
    @extend .flex-none;
    @extend .bg-cover;
    @extend .rounded-t;
    @extend .lg\:rounded-t-none;
    @extend .lg\:rounded-l;
    @extend .text-center;
    @extend .overflow-hidden;
  }
  .game-card-right {
    width: 100%;
    @extend .md\:w-1\/2;
    @extend .border-r;
    @extend .border-b;
    @extend .border-l;
    @extend .lg\:border-l-0;
    @extend .lg\:border-t;
    @extend .bg-white;
    @extend .rounded-b;
    @extend .lg\:rounded-b-none;
    @extend .lg\:rounded-r;
    @extend .p-4;
    @extend .flex;
    @extend .flex-col;
    @extend .justify-between;
    @extend .leading-normal;
    .game-card-content {
      margin-bottom: 1em;
      .game-card-title {
        @extend .font-bold;
        @extend .text-xl;
        @extend .mb-2;
      }
      .game-card-description {
        @extend .text-base;
        margin-bottom: .5em;
      }
    }
  }
}

.item-fields {
  &:first-child {
    border-top: 1px solid rgba(128, 128, 128, .4);
  }
  .item-field {
    display: flex;
    justify-content: space-between;
    padding-top: .6em;
    padding-bottom: .6em;
    border-bottom: 1px solid rgba(128, 128, 128, .4);
    .item-field-name {
      display: flex;
      .item-field-icon {
        color: #2c3e50;
        font-size: 1.2em;
        opacity: 0.8;
        margin-right: 0.5em;
        width: 2em;
        display: flex;
        justify-content: center;
      }
    }
    .item-field-value {
      .data {
        font-weight: 600;
      }
      .data-afer {
        opacity: 0.8;
      }
    }
  }
}