.dashboard-page-container {
  @extend .mx-auto; @extend .container;
  @extend .pt-4;
  padding-bottom: 2em;
  .dashboard-page {
    width: 100%;
    display: flex;
    margin-top: 2em;
  }
  .dashboard-page-content {
    width: 100%;
  }
}
.dashboard-nav-container {
  margin-right: 2.5em;
}

.dashboard-page-title {
  font-weight: 400;
  margin-bottom: 1em;
  width: 100%;
  border-bottom: 1px solid rgba(128, 128, 128, .4);
  padding-bottom: .3em;
}

.console-mosaic {
  width: 100%;
  .console-card {
    margin-bottom: 2em;
    .console-card-content {
      padding-top: 1em;
      padding-bottom: 1em;

      padding-right: 2em;
      padding-left: 2em;

      .console-card-left {
        .console-card-id {
          padding-top: 1em;
          padding-bottom: .5em;
        }
        .console-card-status {
          padding-top: .5em;
          padding-bottom: .5em;
        }
      }
      .console-card-right {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .console-card-description {
          display: flex;
          align-items: flex-start;
          justify-content: center;
          flex-direction: row;
        }
        .console-card-fields {
          width: 100%;
        }
        .console-card-actions {
          margin-top: 0;
          align-items: center;
          justify-content: flex-end;
          padding-bottom: .5em;
        }
      }
    }
  }
}

.console-token-modal {
  .modal-title {
    padding-top: 1.9em;
    padding-bottom: 2em;
  }
  .modal-content {
    @extend .text-center;
  }
  .token-input {
    @extend .bg-white;
    @extend .border;
    @extend .bg-grey-lighter;
    @extend .rounded-lg;
    @extend .py-2;
    @extend .px-4;
    @extend .block;
    @extend .w-full;
    @extend .appearance-none;
    @extend .leading-normal;
    margin-bottom: 2em;
  }
}

.console-terminal-session-modal {
  .modal-container {
    height: 86%;
    #terminal {
      height: 100%;
    }
  }
}

.console-card {
  margin: 0 auto;
  width: 80%;
  .console-card-content {
    @extend .rounded;
    @extend .shadow-lg;
    padding: 2rem;
    width: 100%;
    @extend .flex;
    .console-card-id {
      padding-bottom: 1.5em;
      .console-card-id-pre {
        font-style: italic;
        opacity: 0.5;
      }
    }

    .console-card-status {
      padding-top: 1.5em;
      display: flex;
      .status {
        width: 1em;
        height: 1em;
        border-radius: 50%;
        margin-right: 1em;
        border: 1px solid rgba(128, 128, 128, .4);
        &.green {
          background-color: #27ae60;
        }
        &.red {
          background-color: #e74c3c;
        }
      }
    }

    .console-card-left {
      @extend .w-full;
      @extend .md\:w-1\/3;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      .console-card-image {
        width: 6em;
        padding-top: 0.5em;
        padding-bottom: 0.5em;

        .console-image-offline {
          filter: grayscale(1);
          opacity: 0.4;
        }
      }
    }
    .console-card-fields-loading {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding-top: 3.2em;
      padding-bottom: 3.2em;
      .icon {
        font-size: 1.6em;
      }
    }
    .console-card-right {
      display: flex;
      flex-direction: column;
      @extend .w-full;
      @extend .md\:w-2\/3;
      padding-left: 2em;
      .console-card-fields {
        &:first-child {
          border-top: 1px solid rgba(128, 128, 128, .4);
        }
        .console-card-field {
          display: flex;
          justify-content: space-between;
          padding-top: .6em;
          padding-bottom: .6em;
          border-bottom: 1px solid rgba(128, 128, 128, .4);
          .console-card-field-name {
            display: flex;
            .console-card-field-icon {
              color: #2c3e50;
              font-size: 1.2em;
              opacity: 0.8;
              margin-right: 0.5em;
              width: 2em;
              display: flex;
              justify-content: center;
            }
          }
          .console-card-field-value {
            .data {
              font-weight: 600;
            }
            .data-afer {
              opacity: 0.8;
            }
          }
        }
        .storage .console-card-field-icon {
          color: #34495e;
        }
      }
      .console-card-actions {
        margin-top: 2em;
        display:flex;
        justify-content: space-between;
        .console-card-actions-power {
          display: flex;
        }
        .no-text {
          .icon {
            margin-right: 0;
          }
        }
        .console-card-actions-no-power {
          display: flex;
          flex-wrap: wrap;
        }
        .console-card-action {
          @extend .border;
          @extend .rounded;
          @extend .py-2;
          @extend .px-4;
          &.details {
            @extend .text-blue;
            @extend .border-blue;
            @extend .bg-transparent;
            &:hover, &:focus {
              @extend .bg-blue-dark;
              @extend .text-white;
            }
          }
          &.shutdown {
            @extend .text-red;
            @extend .border-red;
            @extend .bg-transparent;

            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            border-right-color: #7f8c8d;

            &:hover, &:focus {
              @extend .bg-red-dark;
              @extend .text-white;
            }
          }
          &.reboot {
            @extend .text-green;
            @extend .border-green;
            @extend .bg-transparent;

            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            border-left: 0px;

            &:hover, &:focus {
              @extend .bg-green-dark;
              @extend .text-white;
            }
          }

          &.ssh {
            @extend .text-orange;
            @extend .border-orange;
            @extend .bg-transparent;
            margin-left: 0.5em;

            &:hover, &:focus {
              @extend .bg-orange-dark;
              @extend .text-white;
            }
          }
          &.token {
            @extend .text-blue;
            @extend .border-blue;
            @extend .bg-transparent;
            &:hover, &:focus {
              @extend .bg-blue-dark;
              @extend .text-white;
            }
            .icon {
              margin-right: 0;
            }
            .button-text {
              display: none;
            }
          }
        }
      }
    }
  }
}

// Screen width xl breakpoint
@media (max-width: 1200px) {
  .console-card {
    width: 100%;
  }
}

.game-store {
  .game-store-top {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    .game-store-import {
      @extend .border;
      @extend .rounded;
      @extend .py-2;
      @extend .px-4;
      @extend .text-green;
      @extend .border-green;
      @extend .bg-transparent;
      @extend .hover\:bg-green;
      @extend .hover\:text-white;
      @extend .ml-2;
      transition: all 0.2s;
      &:hover {
        transition: all 0.2s;
      }
      .icon {
        margin-right: .5em;
      }
    }
    .game-store-search {
      display: flex;
      align-items: center;
      .game-store-search-input {
        //  shadow appearance-none border border-red-500 rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline
        @extend .shadow;
        @extend .appearance-none;
        @extend .border;
        @extend .rounded;
        @extend .w-full;
        @extend .py-2;
        @extend .px-3;
        @extend .leading-tight;
      }
      .game-store-search-button {
        @extend .border;
        @extend .rounded;
        @extend .py-2;
        @extend .px-4;
        @extend .text-white;
        @extend .border-blue;
        @extend .bg-blue;
        @extend .hover\:bg-transparent;
        @extend .hover\:text-blue;
        @extend .ml-2;
        transition: all 0.2s;
        &:hover {
          transition: all 0.2s;
        }
      }
    }
  }
  .game-store-items {
    margin-top: 2em;
    .game-store-category-title{
      font-weight: 700;
      color: #525252;
      font-size: 1.5em;
      margin-bottom: 1em;
    }
  }
}


.game-store-mosaic {
  margin-top: .5em;
  .game-card {
    margin: 0 auto;
    width: 80%;
  }
}
.game-card {
  margin-bottom: .5em;
  @extend .max-w-sm;
  @extend .w-full;
  @extend .lg\:max-w-full;
  @extend .lg\:flex;
  @extend .shadow;
  .game-card-image {
    background-position: center;
    background-size: contain;
    @extend .h-48;
    @extend .md\:w-1\/2;
    @extend .lg\:h-auto;
    @extend .lg\:w-48;
    @extend .flex-none;
    @extend .bg-cover;
    @extend .rounded-t;
    @extend .lg\:rounded-t-none;
    @extend .lg\:rounded-l;
    @extend .text-center;
    @extend .overflow-hidden;
  }
  .game-card-right {
    width: 100%;
    @extend .md\:w-1\/2;
    @extend .border-r;
    @extend .border-b;
    @extend .border-l;
    @extend .lg\:border-l-0;
    @extend .lg\:border-t;
    @extend .bg-white;
    @extend .rounded-b;
    @extend .lg\:rounded-b-none;
    @extend .lg\:rounded-r;
    @extend .p-4;
    @extend .flex;
    @extend .flex-col;
    @extend .justify-between;
    @extend .leading-normal;
    .game-card-content {
      margin-bottom: 1em;
      .game-card-title {
        @extend .font-bold;
        @extend .text-xl;
        @extend .mb-2;
      }
      .game-card-description {
        @extend .text-base;
        margin-bottom: .5em;
      }
    }
  }
}

.item-fields {
  &:first-child {
    border-top: 1px solid rgba(128, 128, 128, .4);
  }
  .item-field {
    display: flex;
    justify-content: space-between;
    padding-top: .6em;
    padding-bottom: .6em;
    border-bottom: 1px solid rgba(128, 128, 128, .4);
    .item-field-name {
      display: flex;
      .item-field-icon {
        color: #2c3e50;
        font-size: 1.2em;
        opacity: 0.8;
        margin-right: 0.5em;
        width: 2em;
        display: flex;
        justify-content: center;
      }
    }
    .item-field-value {
      .data {
        font-weight: 600;
      }
      .data-afer {
        opacity: 0.8;
      }
    }
  }
}

.shop-orders-mosaic {
  display: flex;
  flex-direction: column;
  align-items: center;
  .shop-order-card {
    width: 80%;
    display: flex;
    padding: 2rem;
    margin-bottom: 1em;
    border-top: 2px solid #ecf0f1;
    border-bottom: 2px solid #ecf0f1;
    @extend .rounded;
    @extend .shadow-lg;
    .shop-order-card-content {
      padding-left: 3em;
    }
    .shop-order-card-image-mosaic {
      display: grid;
      grid-template-columns: 5em 5em;
      width: 10em;
      height: 10em;
      .shop-order-card-image {
        display: flex;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
      }
    }
    .shop-order-card-content {
      display: flex;
      width: 100%;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      .shop-order-card-id {
        font-size: 1.2em;
        opacity: 0.5;
        margin-bottom: 1em;
      }
      .shop-order-card-description {
        .shop-order-card-fields {
          margin-top: .6em;
          .shop-order-card-field {
            display: flex;
            align-items: center;
            padding-top: .2em;
            padding-bottom: .2em;
            .shop-order-card-field-icon {
              width: 1.5em;
              font-size: 1.2em;
              opacity: 0.8;
            }
            .shop-order-card-field-content {
              margin-left: 1em;
            }
          }
        }
      }

      .shop-order-card-actions {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex-direction: column;
        .shop-order-card-button {
          @extend .border;
          @extend .rounded;
          @extend .py-2;
          @extend .px-4;
          transition: all 0.2s;
          .icon {
            margin-right: .5em;
          }
          &.shop-order-card-list {
            @extend .text-blue;
            @extend .bg-transparent;
            @extend .border-blue;
            &:hover, &:focus {
              @extend .bg-blue;
              @extend .text-white;
            }
          }
          &.shop-order-card-bill {
            @extend .bg-green;
            @extend .text-white;
            @extend .border-green;
            @extend .py-4;
            @extend .px-8;
            &:hover, &:focus {
              @extend .bg-transparent;
              @extend .text-green;
            }
          }
        }
      }
    }

  }
}

.shop-order-item-card-mosaic {
  display: flex;
  flex-direction: column;
  padding-bottom: 1em;

  .shop-order-item-card {
    width: 100%;
    display: flex;
    margin-top: 1em;
    border-top: 2px solid #ecf0f1;
    border-bottom: 2px solid #ecf0f1;
    padding-top: 1em;
    padding-bottom: 1em;
    .shop-order-item-card-image {
      width: 6em;
      height: 6em;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      margin-left: 1em;
    }
    .shop-order-item-card {
      width: 9em;
      height: 9em;
      background-position: center;
      background-size: contain;
    }
    .shop-order-item-card-content {
      padding-left: 2em;

      li {
        margin-bottom: 0.2em;
      }
    }
    .shop-order-item-card-title {
      font-weight: 600;
      padding-bottom: .5em;
    }
  }
}
