.downloads {
  display: flex;
  justify-content: center;
  .downloads-content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 2em;
    padding-bottom: 2em;
    color: #2c3e50;
    text-align: center;

    .downloads-discord-container {

      iframe {
        width: 350px;
      }
    }

    .os-icon {
      font-size: 3em;
      display: flex;
      padding: 0.25em;
      justify-content: center;
    }

    .os-text {
      display: flex;
    }
    .win-text {
     padding-right: 3.5em;
     padding-left: 3em;
    }
    .lin-text {
      padding-left: 7.5em;
    }

    .win-icon:hover {
      color: #2779bd;
      transition: color 0.3s ease-in-out;
    }
    .mac-icon:hover {
      color: #2779bd;
      transition: color 0.3s ease-in-out;
    }
    .lin-icon:hover {
      color: #2779bd;
      transition: color 0.3s ease-in-out;
    }
    .android-icon:hover {
      color: #2779bd;
      transition: color 0.3s ease-in-out;
    }
    .ios-icon:hover {
      color: #2779bd;
      transition: color 0.3s ease-in-out;
    }

    .coming-soon {
      text-align: center;
    }

    .downloads-title-container {
      display: flex;
      align-items: center;
      justify-content: center;
      justify-content: flex-start;
      padding-right: 2em;
    }
    .downloads-title {
      font-weight: 200;
      font-size: 2.3em;
      margin-bottom: 0.8em;
    }
    .downloads-description {
        font-size: 1.1em;
    }
  }
  .downloads-discord-container {
    margin-top: 1em;
  }
}
