.download {
  display: flex;
  justify-content: center;
  .download-content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 2em;
    padding-bottom: 2em;
    color: #2c3e50;

    .download-discord-container {
        
      iframe {
        width: 350px;
      }
    }
    .download-title-container {
      display: flex;
      align-items: center;
      justify-content: center;
      justify-content: flex-start;
      padding-right: 2em;
      div {
        width: 90%;
      }
    }
    .download-title {
      font-weight: 200;
      font-size: 2.3em;
      margin-bottom: 0.8em;
    }
    .download-description {
        font-size: 1.1em;
    }
  }
  .download-discord-container {
    margin-top: 1em;
  }
}
