.error {
  width: 100%;
  padding-top: 6vh;
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .error-content {
    color: #2c3e50;
    opacity: 0.8;
    display: grid;
    grid-template-columns: 20% 75%;
    grid-column-gap: 4%;

    .error-icon {
      display: flex;
      justify-content: center;
      align-items: center;
      .icon {
        width: auto;
        font-size: 2em;
        max-width: 100%;
        max-height: 100%;
      }
    }

    .error-title {
      margin-bottom: 0.5em;
    }
  }
}
