$landing-main-section-height: 78vh;
$landing-main-section-opacity: 0.5;

.landing-main {
  margin-top: -$landing-main-section-height;
  background-color: rgba(30, 36, 38, $landing-main-section-opacity);
  display: flex;
  width: 100%;
  height: $landing-main-section-height;
  justify-content: center;
  align-items: center;
  //box-shadow: 1px 1px 8px #000000;

  .landing-main-content {
    position: relative;
    top: -1em;
    color: white;
    text-align: center;
    .landing-main-title {
      font-weight: lighter;
      font-size: 3em;
    }
    .landing-main-subtitle {
      margin-top: 1em;
      margin-bottom: 2em;
      font-size: 1.3em;
    }
  }
  .landing-main-actions {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3.5em;
    .landing-main-button-go {
      @extend .bg-transparent;
      &:hover {
        @extend .bg-blue;
      }
      @extend .text-white;
      @extend .font-semibold;
      &:hover {
        @extend .text-white;
      }
      @extend .py-4;
      @extend .px-8;
      @extend .mr-6;
      @extend .border;
      @extend .border-white;
      &:hover {
        @extend .border-transparent;
      }
      @extend .rounded-full;
      @extend .text-lg;
    }
    .landing-main-button-shop {
      @extend .bg-blue;
      &:hover {
        @extend .bg-blue-dark;
      }
      @extend .text-white;
      @extend .font-semibold;
      @extend .py-4;
      @extend .px-8;
      @extend .rounded-full;
      @extend .button;
      @extend .text-lg;
    }
    a {
      margin-right: 15px;
      text-decoration: none;
    }
  }
}
.landing-back {
  padding-bottom: 1em;
  background-color: #1e2426;
}
.landing-main-back {
  background-size: cover;
  height: $landing-main-section-height;
  background-image: url(https://static.retrobox.tech/img/marketing/marketing_4_small.jpg);
}

.landing-section {
  border-top: 1px solid rgba(189, 195, 199, 1.0);
  background-color: #1e2426;
  width: 100%;
}

.landing-section-no-border {
  border: 0;
}

.second-landing {
  clip-path: polygon(0 90%,100% 100%,100% 10%,0 0);
}

.thirth-landing {
  background: linear-gradient(90deg,#93278f,#00a99d 95%);
  clip-path: polygon(0 90%,100% 100%,100% 10%,0 0);
}

/**
Landing about
**/
.landing-about {
  margin-top: -.5em;
  margin-bottom: -4.5em;
  padding-top: 2em;
  padding-bottom: 4em;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 1px 8px #000000;

  .first-landing {
    background-color: #1e2426;
  }
  .landing-about-content {
    color: #ecf0f1;
    margin-top: 6em;
    margin-bottom: 6em;
    width: 60%;
    display: grid;
    grid-template-columns: 58% 1fr;
    grid-column-gap: 3em;
    .landing-about-text {
      line-height: 1.5em;
      .landing-about-title {
        margin-bottom: 1em;
      }
    }

    .landing-about-pic {
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        width: 100%;
      }
    }
  }
}

.landing-about-2 {
  .landing-about-content {
    grid-template-columns: 40% 1fr;
  }
  .landing-about-pic {
    img {
      border-radius: 15%;
      box-shadow: 1px 1px 20px 4px rgba(0, 0, 0, 0.4);
    }
  }
}

$landing-divider-height: 70vh;

.landing-divider-background-container {
  .landing-divider-background-image {
    background-size: cover;
    height: $landing-divider-height;
    background-image: url(https://static.retrobox.tech/img/marketing/marketing_1_small.jpg);
    background-position: center;
  }
  .landing-divider-background-filter {
    height: $landing-divider-height;
    margin-top: -$landing-divider-height;
    background-color: rgba(52, 73, 94, $landing-main-section-opacity);
  }
}

/**
Landing columns
*/
.landing-columns {
  text-align: center;
  margin-top: 2em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .landing-column {

    .landing-column-icon {
      padding-right: 20px;
      background-color: transparent;
      position: relative;
      top: 10px;
      display: flex;
      justify-content: center;

      div {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        padding: 10px 10px 10px 10px;
      }

      .type-game {
        background-color: #ff4c4c;
      }
      .type-custom {
        background-color: #ffff4c;
      }
      .type-connected {
        background-color: #4dff4c;
      }
      .type-switch {
        background-color: #4cffff;
      }
      .type-easy {
        background-color: #4d4cff;
      }
      .type-opensource {
        background-color: #ff4cff;
      }
      i {
        color: white;
        font-size: 1.5em;
        filter: drop-shadow(0px 0px 3px rgba(0, 0, 0, .5));
      }
    }
    .landing-column-content {
      margin-bottom: 20px;
      margin-right: 20px;
      max-width: 23rem;
      background-color: white;
      padding-top: 5px;
      .title {
        color: #22292F;
      }
    }
  }
}

/**
Landing advantages
**/
.landing-advantages {
  padding-top: 4em;
  margin-top: -6em;
  margin-bottom: 0;
  display: flex;
  justify-content: center;
  box-shadow: 1px 1px 8px #000000;
  align-items: center;
  background-color: #1e2426;
  .landing-advantages-content {
    text-align: center;
    color: #ecf0f1;
    margin-top: 6em;
    margin-bottom: 6em;
    width: 60%;
  }
}

/**
Landing video
**/
.landing-video-content {
  width: 100%;
  display: flex;
  justify-content: center;
}

.landing-video-video {
  width: 100%;
  height: 25em;
  margin-top: 20px;
}

/**
landing start **/
.landing-startnow-content {
  margin-top: 2em;
  .type-kited .landing-column-icon div {
    background-color: #4d4cff;
  }

  .type-already .landing-column-icon div {
    background-color: #ff4cff;
  }

  .landing-column-footer {
    margin-top: -1em;
    width: 90%;
    padding-right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    a {
      text-decoration: none;
    }
  }
}

.landing-startnow-title {
  color: #ecf0f1;
  text-align: center;
}

.landing-bottom {
  margin-bottom: 2em;
  box-shadow: 1px 1px 12px #000000;
}

.landing-error {
  .error-content {
    color: #FAFAFA !important;
  }
  border-top: 1px solid #bdc3c7;
  background-color: #1e2426;
  padding-bottom: 6vh;
}
