.login-modal {
  .modal-container {
    height: 100%;
  }
  .login-loading-container {
    width: 100%;
    height: 100%;

    .loading {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      margin-top: 0;
    }
  }
}
.login-or-register-modal {
  .login-or-register-title {
    padding-top: 1.5em;
    margin-bottom: 0em;
    text-align: center;
  }
  .login-or-register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2.5em;
    padding-bottom: 2em;
  }
  .login-or-register {
    div {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    a {
      display: flex;
      margin-top: 1.5em;
      font-size: 1.2em !important;
      border-right: none !important;
      padding-right: 0 !important;
      padding-left: 0 !important;
      justify-content: center;
      color: rgba(34, 47, 62, 0.8) !important;
      font-weight: 400;
      .icon {
        margin-right: 1em !important;
      }
      .text {
        display: block !important;
      }
      &:hover {
        transition: color 0.1s ease-in-out;
        color: rgba(34, 47, 62, 1) !important;
      }
      &:first-of-type {
        margin-top: 0;
      }
    }
  }
  .button {
    text-align: center;
  }
}
.account-mobile {
  display: none;
}
.account-button {
  display: block !important;
}
