.partnership-container {
  // fixed height to remove overflow
  height: 128px;

  padding-top: 2em;
  padding-bottom: 2em;
  box-shadow: inset 0px 0px 9px 0px rgba(0, 0, 0, 0.25);
  .partnership-content {
    display: grid;
    grid-template-columns: repeat(4, 25%);
    text-align: center;

    .partnership-item {
      color: #7f8c8d;
      transition: 0.2s opacity;
      display: flex;
      align-items: center;
      display: flex;
      justify-content: center;
    }

    .partnership-lyceealain {
      .partnership-lyceealain-image {
        img {
          width: 5em;
        }
      }
    }

    .partnership-cci {
      .partnership-cci-image {
        img {
          width: 12em;
        }
      }
    }


    .partnership-pcbway {
      .partnership-pcbway-image {
        img {
          width: 8em;
        }
      }
    }

    .partnership-creative-commons {}

    .partnership-item:hover, .partnership-item:focus {
      opacity: 0.7;
      transition: 0.2s opacity ease-in-out;
    }
  }
}
