//shop header
.shop-header-container {
  margin-top: 1.5em;
  height: 2em;
  display: flex;
  justify-content: flex-end;
  .shop-header-cart-amount {
    margin-right: 15px;
  }
}

//shop index
.shop-index-container {
  margin-top: 1.5em;
}

//shop cart
.shop-cart-container {
  .shop-cart-list {
    .list-row, .list-head {
      grid-template-columns: 28% 28% 28% 1fr;
      div {
          display: flex;
          align-items: center;
          flex-wrap: wrap;
      }
    }
    .final {
      padding: 13px;
    }
    .total {
        //padding-top: 1em;
        padding-bottom: 9px;
        border-bottom: 0;
    }
    .shop-cart-actions {
      display: flex;
      justify-content: flex-end;
      a {
        margin-right: 1em;
        width: 2em;
        text-align: center;
      }
      a:last-of-type {
        margin-right: 0;
      }
    }
  }
  .shop-cart-bill-container {
    padding-left: 0.5em;
    padding-right: 0.5em;
    margin-top: 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .shop-cart-bill-amount {
      font-weight: bold;
    }
    .checkout-button {
      .icon {
        margin-right: 1.1em;
      }
    }
  }
}

.shop-empty-container {
  margin-top: 0.5em;
  background-color: #ecf0f1;
  border-radius: 10px;
  display: flex;
  height: 20em;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #2c3e50;
  .shop-empty-icon {
    margin-bottom: 1em;
    .icon {
      font-size: 2em;
      width: 25px;
      height: 25px;
    }
  }
}

.shop-index-category-mosaic {
   margin-bottom: 2em;
  .shop-index-category {
    margin-bottom: 2em;
    .shop-index-category-title {
      font-weight: 700;
      color: #525252;
      font-size: 1.5em;
    }
    .shop-category-empty {
      width: 100%;
      display: flex;
      justify-content: center;
      padding-top: 1em;
      padding-bottom: 1em;
      margin-bottom: 1.5em;
      opacity: 0.7;

      div {
        text-align: center;
      }
      .icon {
        margin-bottom: 1em;
      }
    }
  }
}

.shop-card-mosaic {
  margin-top: 1.5em;
  display: flex;
  flex-wrap: wrap;
}

.shop-card {
  margin-right: 3em;
  margin-bottom: 1.5em;
  @extend .max-w-sm;
  border-radius: 10px;
  @extend .overflow-hidden;

  .shop-card-thumb {
    @extend .overflow-hidden;
  }
  .shop-card-image {
    width: 100%;
    height: 13em;
    background-size: cover;
    background-position-y: 50%;
    transition: all 1s ease;
    @extend .w-full;
    background-color: #e4e3e1;
  }
  .shop-card-image:hover {
    transform: scale(1.25);
  }
  .shop-card-content {
    width: 18em;
    @extend .px-4;
    @extend .py-4;

    .shop-card-title {
      margin-left: 3px;
      font-size: 1.25rem;
      font-weight: 500;
      color: #34495e;
    }
    .shop-card-description {
      margin-top: .5em;
      margin-left: 3px;
      opacity: 0.8;
      font-size: 1rem;
    }
    .shop-card-footer {
      display: flex;
      //margin-top: 1em;
      justify-content: space-between;
      align-items: center;
      @extend .pt-4;
      .price {
        @extend .inline-block;
        color: #2779bd;
        font-weight: 500;
        font-size: 1.5rem;
      }
    }
    .shop-card-buy-button {
      @extend .button;
      @extend .bg-blue;
      @extend .hover\:bg-blue-dark;
      @extend .text-white;
      @extend .font-bold;
      @extend .py-2;
      @extend .px-4;
      @extend .rounded-full;
    }
    .shop-card-remove-button {
      @extend .button;
      opacity: 0.8;
      &:hover {
        opacity: 1;
      }
      @extend .bg-transparent;
      @extend .hover\:bg-blue;
      @extend .text-blue;
      @extend .hover\:text-white;
      @extend .border;
      @extend .border-blue;
      @extend .font-bold;
      @extend .py-2;
      @extend .px-4;
      @extend .rounded-full;
    }
  }
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, .1);
  transition: 0.2s all;
  &:hover {
    cursor: pointer;
    transition: 0.2s all;
  }
}

//shop checkout
.shop-checkout-container{
  margin-bottom: 3em;

  .shop-checkout-mosaic {
    margin-top: 1em;
    background-color: #ecf0f1;
    border-radius: 10px;
    display: flex;
    height: 15em;
    width: 100%;
    justify-content: center;
    align-items: center;
    color: #2c3e50;
    .shop-checkout-item {
      font-size: 1.2em;
      margin-right: 3.4em;
      line-height: 1.5;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      transition: 0.2s opacity;
      .icon {
        font-size: 2.2em;
        margin-bottom: 15px;
      }
      .icon-loader {
        font-size: 1em !important;
      }
    }
    .shop-checkout-item:last-of-type {
      margin-right: 0;
    }
    .shop-checkout-item:hover {
      cursor: pointer;
      opacity: 0.8;
      transition: 0.2s opacity;
    }
  }
}

//shop item
.shop-item-container {
  .buy-custom-container {
    margin-top: 1.2em;
    .buy-custom-type {
      .buy-custom-title {
        margin-bottom: 0.9em;
      }
      .buy-custom-mosaic {
        //overflow-x: hidden; 
        display: flex;
      }
      .buy-custom-item:hover {
        cursor: pointer;
      }

      .buy-custom-mosaic.button-colors {
        .buy-custom-item {
          margin-right: 0.5em;
          width: 2em;
          height: 2em;
          border-radius: 7px;
          border: medium solid #0000004d;
        }
        .buy-custom-item.selected {
        }
      }
      .buy-custom-mosaic.storage {
        .buy-custom-item {
          border: 2px solid #34495e;
          border-radius: 15px;
          padding: 8px;
          margin-right: 0.5em;
        }
      }

      .buy-custom-mosaic.model {
        .buy-custom-item {
          border: 2px solid #34495e;
          border-radius: 15px;
          padding: 8px;
          margin-right: 0.5em;
        }
      }

      .buy-custom-item {
        opacity: 0.6;
        transition: 0.2s opacity;
      }
      .buy-custom-item.selected {
        opacity: 1;
        border-color: #ffffff;
      }

      .buy-custom-item:hover {
        opacity: 1;
        transition: 0.2s opacity;
      }

      margin-bottom: 1.5em;
    }
  }
}

.quantity {
  width: 2.25em;
  border: 2px solid #34495ecc;
  border-radius: 10px;
  height: 2.25em;
  display: inline-block;
  padding: .5rem 0.75rem;
  font-size: 1.25em;
  margin-top: 0.5em;
}
//shop checkout shop-checkout-thanks
.buy-advantages{
  background: #f1f5f8;
  border-radius: 10px;
}

//shop checkout shop-checkout-thanks

.shop-checkout-thanks {
  margin-top: 2em;
  margin-bottom: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  .shop-checkout-thanks-button {
    .icon {
      margin-right: 0.9em;
    }
  }
}

.order-note-container {
  margin-top: 2em;
  color: gray;
  textarea {
    color: #2c3e50;
    min-height: 4em;
    height: 4em !important;
  }
}