.page-enter-active,
.page-leave-active {
  transition: all 0.15s ease-out;
}
.page-enter,
.page-leave-active {
  opacity: 0.15;
  transform: translateZ(0);
  backface-visibility: hidden;
}

.main-transition-enter-active, .main-transition-leave-active {
  transition: opacity .5s
}

.main-transition-enter, .main-transition-leave-active, .main-transition-leave-to {
  opacity: 0
}
